<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResult">
		<result column="board_no" property="boardNo" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from
		       board
		 where 
		       status = 'Y'
	</select>
	
	<select id="selectList" resultMap="boardResult">
		select
			   board_no
		  from
		       board
	</select>

</mapper>